:root {
	--all-alphe-black-0: var(--colors-alpha-black-0);
	--all-alphe-black-10: var(--colors-alpha-black-10);
	--all-alphe-black-100: var(--colors-alpha-black-100);
	--all-alphe-black-2: var(--colors-alpha-black-2);
	--all-alphe-black-20: var(--colors-alpha-black-20);
	--all-alphe-black-30: var(--colors-alpha-black-30);
	--all-alphe-black-4: var(--colors-alpha-black-4);
	--all-alphe-black-40: var(--colors-alpha-black-40);
	--all-alphe-black-50: var(--colors-alpha-black-50);
	--all-alphe-black-6: var(--colors-alpha-black-6);
	--all-alphe-black-60: var(--colors-alpha-black-60);
	--all-alphe-black-70: var(--colors-alpha-black-70);
	--all-alphe-black-8: var(--colors-alpha-black-8);
	--all-alphe-black-80: var(--colors-alpha-black-80);
	--all-alphe-black-90: var(--colors-alpha-black-90);
	--all-alphe-white-0: var(--colors-alpha-white-0);
	--all-alphe-white-10: var(--colors-alpha-white-10);
	--all-alphe-white-100: var(--colors-alpha-white-100);
	--all-alphe-white-2: var(--colors-alpha-white-2);
	--all-alphe-white-20: var(--colors-alpha-white-20);
	--all-alphe-white-30: var(--colors-alpha-white-30);
	--all-alphe-white-4: var(--colors-alpha-white-4);
	--all-alphe-white-40: var(--colors-alpha-white-40);
	--all-alphe-white-50: var(--colors-alpha-white-50);
	--all-alphe-white-6: var(--colors-alpha-white-6);
	--all-alphe-white-60: var(--colors-alpha-white-60);
	--all-alphe-white-70: var(--colors-alpha-white-70);
	--all-alphe-white-8: var(--colors-alpha-white-8);
	--all-alphe-white-80: var(--colors-alpha-white-80);
	--all-alphe-white-90: var(--colors-alpha-white-90);
	--all-base-black: var(--colors-base-black);
	--all-base-white: var(--colors-base-white);
	--all-forest-1: var(--colors-forest-1);
	--all-forest-10: var(--colors-forest-10);
	--all-forest-2: var(--colors-forest-2);
	--all-forest-3: var(--colors-forest-3);
	--all-forest-4: var(--colors-forest-4);
	--all-forest-5: var(--colors-forest-5);
	--all-forest-6: var(--colors-forest-6);
	--all-forest-7: var(--colors-forest-7);
	--all-forest-8: var(--colors-forest-8);
	--all-forest-9: var(--colors-forest-9);
	--all-gray-1: var(--colors-gray-1);
	--all-gray-10: var(--colors-gray-10);
	--all-gray-2: var(--colors-gray-2);
	--all-gray-3: var(--colors-gray-3);
	--all-gray-4: var(--colors-gray-4);
	--all-gray-5: var(--colors-gray-5);
	--all-gray-6: var(--colors-gray-6);
	--all-gray-7: var(--colors-gray-7);
	--all-gray-8: var(--colors-gray-8);
	--all-gray-9: var(--colors-gray-9);
	--all-green-1: var(--colors-green-1);
	--all-green-10: var(--colors-green-10);
	--all-green-2: var(--colors-green-2);
	--all-green-3: var(--colors-green-3);
	--all-green-4: var(--colors-green-4);
	--all-green-5: var(--colors-green-5);
	--all-green-6: var(--colors-green-6);
	--all-green-7: var(--colors-green-7);
	--all-green-8: var(--colors-green-8);
	--all-green-9: var(--colors-green-9);
	--all-orange-1: var(--colors-orange-1);
	--all-orange-10: var(--colors-orange-10);
	--all-orange-2: var(--colors-orange-2);
	--all-orange-3: var(--colors-orange-3);
	--all-orange-4: var(--colors-orange-4);
	--all-orange-5: var(--colors-orange-5);
	--all-orange-6: var(--colors-orange-6);
	--all-orange-7: var(--colors-orange-7);
	--all-orange-8: var(--colors-orange-8);
	--all-orange-9: var(--colors-orange-9);
	--all-red-1: var(--colors-red-1);
	--all-red-10: var(--colors-red-10);
	--all-red-2: var(--colors-red-2);
	--all-red-3: var(--colors-red-3);
	--all-red-4: var(--colors-red-4);
	--all-red-5: var(--colors-red-5);
	--all-red-6: var(--colors-red-6);
	--all-red-7: var(--colors-red-7);
	--all-red-8: var(--colors-red-8);
	--all-red-9: var(--colors-red-9);
	--all-yellow-1: var(--colors-yellow-1);
	--all-yellow-10: var(--colors-yellow-10);
	--all-yellow-2: var(--colors-yellow-2);
	--all-yellow-3: var(--colors-yellow-3);
	--all-yellow-4: var(--colors-yellow-4);
	--all-yellow-5: var(--colors-yellow-5);
	--all-yellow-6: var(--colors-yellow-6);
	--all-yellow-7: var(--colors-yellow-7);
	--all-yellow-8: var(--colors-yellow-8);
	--all-yellow-9: var(--colors-yellow-9);
	--bg-black: var(--colors-base-black);
	--bg-brand: var(--colors-yellow-4);
	--bg-brand-hover: var(--colors-yellow-5);
	--bg-brand-secondary: var(--colors-yellow-10);
	--bg-error-primary: var(--colors-red-1);
	--bg-error-secondary: var(--colors-red-2);
	--bg-error-solid: var(--colors-red-7);
	--bg-primary: var(--colors-gray-10);
	--bg-quaternary: var(--colors-gray-6);
	--bg-secondary: var(--colors-gray-9);
	--bg-success-primary: var(--colors-green-1);
	--bg-success-secondary: var(--colors-green-2);
	--bg-success-solid: var(--colors-green-7);
	--bg-tertiary: var(--colors-gray-8);
	--bg-tertiary-hover: var(--colors-gray-7);
	--bg-warning-primary: var(--colors-orange-1);
	--bg-warning-secondary: var(--colors-orange-2);
	--bg-warning-solid: var(--colors-orange-7);
	--bg-white: var(--colors-base-white);
	--border-brand: var(--colors-yellow-4);
	--border-brand-hover: var(--colors-yellow-5);
	--border-error: var(--colors-red-5);
	--border-primary: var(--colors-gray-6);
	--border-secondary: var(--colors-gray-5);
	--border-tertiary: var(--colors-gray-3);
	--border-white: var(--colors-base-white);
	--button-brand: var(--colors-yellow-4);
	--button-brand-hover: var(--colors-yellow-5);
	--button-primary: var(--colors-gray-1);
	--button-primary---hover: var(--colors-gray-2);
	--button-white: var(--colors-base-white);
	--icon-brand: var(--colors-yellow-4);
	--icon-primary: var(--colors-gray-1);
	--icon-secondary: var(--colors-gray-3);
	--icon-tertiary: var(--colors-gray-4);
	--icon-tertiary-hover: var(--colors-gray-5);
	--icon-white: var(--colors-base-white);
	--text-brand: var(--colors-yellow-4);
	--text-brand-hover: var(--colors-yellow-5);
	--text-error-primary: var(--colors-red-5);
	--text-primary: var(--colors-gray-1);
	--text-quaternary: var(--colors-gray-7);
	--text-secondary: var(--colors-gray-2);
	--text-success-primary: var(--colors-green-5);
	--text-tertiary: var(--colors-gray-4);
	--text-tertiary-hover: var(--colors-gray-5);
	--text-warning-primary: var(--colors-orange-5);
	--text-white: var(--colors-base-white);
}
