:root {
	--colors-alpha-black-0: rgb(0 0 0 / 0%);
	--colors-alpha-black-10: rgb(0 0 0 / 10%);
	--colors-alpha-black-100: rgb(0 0 0);
	--colors-alpha-black-2: rgb(0 0 0 / 2%);
	--colors-alpha-black-20: rgb(0 0 0 / 20%);
	--colors-alpha-black-30: rgb(0 0 0 / 30%);
	--colors-alpha-black-4: rgb(0 0 0 / 4%);
	--colors-alpha-black-40: rgb(0 0 0 / 40%);
	--colors-alpha-black-50: rgb(0 0 0 / 50%);
	--colors-alpha-black-6: rgb(0 0 0 / 6%);
	--colors-alpha-black-60: rgb(0 0 0 / 60%);
	--colors-alpha-black-70: rgb(0 0 0 / 70%);
	--colors-alpha-black-8: rgb(0 0 0 / 8%);
	--colors-alpha-black-80: rgb(0 0 0 / 80%);
	--colors-alpha-black-90: rgb(0 0 0 / 90%);
	--colors-alpha-white-0: rgb(255 255 255 / 0%);
	--colors-alpha-white-10: rgb(255 255 255 / 10%);
	--colors-alpha-white-100: rgb(255 255 255);
	--colors-alpha-white-2: rgb(255 255 255 / 2%);
	--colors-alpha-white-20: rgb(255 255 255 / 20%);
	--colors-alpha-white-30: rgb(255 255 255 / 30%);
	--colors-alpha-white-4: rgb(255 255 255 / 4%);
	--colors-alpha-white-40: rgb(255 255 255 / 40%);
	--colors-alpha-white-50: rgb(255 255 255 / 50%);
	--colors-alpha-white-6: rgb(255 255 255 / 6%);
	--colors-alpha-white-60: rgb(255 255 255 / 60%);
	--colors-alpha-white-70: rgb(255 255 255 / 70%);
	--colors-alpha-white-8: rgb(255 255 255 / 8%);
	--colors-alpha-white-80: rgb(255 255 255 / 80%);
	--colors-alpha-white-90: rgb(255 255 255 / 90%);
	--colors-base-black: rgb(0 0 0);
	--colors-base-white: rgb(255 255 255);
	--colors-forest-1: rgb(237 244 243);
	--colors-forest-10: rgb(27 51 46);
	--colors-forest-2: rgb(228 239 236);
	--colors-forest-3: rgb(200 221 216);
	--colors-forest-4: rgb(77 146 130);
	--colors-forest-5: rgb(69 131 117);
	--colors-forest-6: rgb(62 117 104);
	--colors-forest-7: rgb(58 110 98);
	--colors-forest-8: rgb(46 88 78);
	--colors-forest-9: rgb(35 66 58);
	--colors-gray-1: rgb(238 238 240);
	--colors-gray-10: rgb(22 21 24);
	--colors-gray-2: rgb(211 209 217);
	--colors-gray-3: rgb(175 173 183);
	--colors-gray-4: rgb(135 132 145);
	--colors-gray-5: rgb(88 86 96);
	--colors-gray-6: rgb(50 49 55);
	--colors-gray-7: rgb(41 40 47);
	--colors-gray-8: rgb(32 31 36);
	--colors-gray-9: rgb(28 27 31);
	--colors-green-1: rgb(229 255 249);
	--colors-green-10: rgb(14 62 51);
	--colors-green-2: rgb(183 250 234);
	--colors-green-3: rgb(138 240 214);
	--colors-green-4: rgb(70 200 168);
	--colors-green-5: rgb(52 168 139);
	--colors-green-6: rgb(32 151 122);
	--colors-green-7: rgb(17 131 102);
	--colors-green-8: rgb(7 105 81);
	--colors-green-9: rgb(0 77 57);
	--colors-orange-1: rgb(255 241 233);
	--colors-orange-10: rgb(54 44 35);
	--colors-orange-2: rgb(255 236 206);
	--colors-orange-3: rgb(255 218 162);
	--colors-orange-4: rgb(255 183 75);
	--colors-orange-5: rgb(255 166 31);
	--colors-orange-6: rgb(210 139 32);
	--colors-orange-7: rgb(166 112 33);
	--colors-orange-8: rgb(121 85 34);
	--colors-orange-9: rgb(77 58 35);
	--colors-red-1: rgb(255 229 232);
	--colors-red-10: rgb(54 34 38);
	--colors-red-2: rgb(254 190 195);
	--colors-red-3: rgb(251 147 155);
	--colors-red-4: rgb(247 110 122);
	--colors-red-5: rgb(241 70 84);
	--colors-red-6: rgb(233 37 53);
	--colors-red-7: rgb(205 19 35);
	--colors-red-8: rgb(164 10 22);
	--colors-red-9: rgb(124 4 14);
	--colors-yellow-1: rgb(255 251 230);
	--colors-yellow-10: rgb(89 76 2);
	--colors-yellow-2: rgb(255 249 218);
	--colors-yellow-3: rgb(255 229 97);
	--colors-yellow-4: rgb(255 217 5);
	--colors-yellow-5: rgb(230 195 5);
	--colors-yellow-6: rgb(204 174 4);
	--colors-yellow-7: rgb(191 163 4);
	--colors-yellow-8: rgb(153 130 3);
	--colors-yellow-9: rgb(115 98 2);
	--spacing-0-0px: 0px;
	--spacing-0․5-2px: 2px;
	--spacing-1-4px: 4px;
	--spacing-10-40px: 40px;
	--spacing-12-48px: 48px;
	--spacing-16-64px: 64px;
	--spacing-1․5-6px: 6px;
	--spacing-2-8px: 8px;
	--spacing-20-80px: 80px;
	--spacing-24-96px: 96px;
	--spacing-3-12px: 12px;
	--spacing-32-128px: 128px;
	--spacing-4-16px: 16px;
	--spacing-40-160px: 160px;
	--spacing-5-20px: 20px;
	--spacing-6-24px: 24px;
	--spacing-8-32px: 32px;
}
