.el-form-item__label {
  height: var(--el-component-size);
  line-height: var(--el-component-size);
  color: var(--text-primary);
}

.el-form-item--label-top {
  .el-form-item__label {
    line-height: 20px;
  }
}


.el-input__wrapper{
  padding: 1px 16px;
}

.el-form-item{
  margin-bottom: 20px;
}


.el-select-dropdown__list{
  padding:4px 6px;
}
.el-select-dropdown__item{
  padding:0px 12px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  font-size: var(--font-size-text-sm);
  color: var(--text-primary);
  &:hover{
    background: var(--all-alphe-white-6, #FFFFFF0F);
  }
}