/**
 * @mc-markets/ui - Element Plus 主题变量配置
 * 
 * 基于 Element Plus 官方主题定制指南
 * @see https://element-plus.org/zh-CN/guide/theming.html
 */

// 自定义 Element Plus 变量
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // 自定义颜色变量
  $colors: (
    'primary': (
      'base': #FFD905,
    ),
    'success': (
      'base': #34A88B ,
    ),
    'warning': (
      'base': #FFA61F,
    ),
    'danger': (
      'base': #f14654,
    ),
    'info': (
      'base': #585660,
    ),
  ),
  // 自定义字体大小
  $font-size: (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 12px,
    'extra-small': 10px,
  ),
  // 自定义圆角
  $border-radius: (
    'base': 8px,
    'small': 4px,
    'round': 20px,
    'circle': 100%,
  ),
  
  // 自定义阴影
  $box-shadow: (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04)
    ),
    'light': (
      0 2px 12px 0 rgba(0, 0, 0, 0.1)
    ),
    'lighter': (
      0 2px 12px 0 rgba(0, 0, 0, 0.06)
    ),
    'dark': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.12)
    ),
  )
);

// 导入所有 Element Plus 样式
@use "element-plus/theme-chalk/src/index.scss" as *;
@use 'element-plus/theme-chalk/src/dark/css-vars.scss';
// 导入项目变量
@use './variables/border-mode.css';
@use './variables/color-modes-dark.css';
@use './variables/primitives-style.css';
@use './variables/radius-mode.css';
@use './variables/spacing-mode.css';
@use './variables/typography-desktop.css';
