.mc-ui-override {
  .el-form {
    .el-form-item__label {
      height: var(--el-component-size);
      line-height: var(--el-component-size);
      color: var(--text-primary);
    }

    .el-form-item--label-top .el-form-item__label {
      line-height: 20px;
      height: 20px;
    }

    .el-form-item {
      margin-bottom: 20px;
    }
  }
  .el-form-item--large .el-form-item__label{
    height: var(--el-component-size-large);
    line-height: var(--el-component-size-large);
  }
  .el-form-item--small .el-form-item__label{
    height: var(--el-component-size-small);
    line-height: var(--el-component-size-small);
  }
}
