.el-select {
  &.solid {
    --el-border-color: var(--bg-tertiary-hover);

    .el-select__wrapper {
      background: var(--bg-tertiary-hover);
    }
    .el-select__caret {
      color: var(--all-base-white);
    }
  }
}

.el-select__wrapper {
  padding: 4px 16px;
  min-height: var(--el-component-size);
  &.is-disabled {
    background: var(--bg-tertiary-hover);
  }
}


.el-select--small {
  .el-select__wrapper {
    padding: 8px 16px;
    font-size: var(--font-size-text-sm);
    min-height: var(--el-component-small);
  }
}


// 下拉菜单样式 - 全局样式（仅在组件未定义时生效）
.el-select-dropdown{
  padding: 12px;
}

.el-select-dropdown__list {
  padding: 0;
}

.el-select-dropdown__item{
  padding: 0px 12px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  font-size: var(--font-size-text-sm);
  color: var(--text-primary);
  
  &:hover,
  &.is-hovering {
    background: var(--all-alphe-white-6, #FFFFFF0F);
  }
}

.el-select-dropdown__header {
  border: none;
  padding: 0px;
  padding-bottom: 4px;
}