.mc-ui-override {
  .el-table {
    --el-table-header-bg-color: var(--bg-quaternary);
    --el-table-row-hover-bg-color: var(--bg-tertiary-hover);
    --el-table-border-color: transparent;
    --el-table-header-text-color: var(--text-tertiary);
    --el-table-tr-bg-color: #161518;
    --el-table-fixed-left-column:inset 10px 0 10px -10px #000;
    --el-table-fixed-right-column:inset -10px 0 10px -10px #000;

    border: none;
    border-radius: 8px;

    thead {
      th {
        font-weight: 500;
      }
      .cell {
        line-height: 28px;
      }
      .el-table__cell {
        padding: 8px 0px;
        border: none;
      }
    }

    .el-table__cell {
      padding: 18px 0px;
      // border: none;
    }

    .cell {
      line-height: 20px;
      padding: 0 16px;
    }
  }
}
