.mc-ui-override {
  .el-table {
    --el-table-header-bg-color: var(--bg-tertiary-hover);
    --el-table-row-hover-bg-color: var(--bg-tertiary-hover);
    --el-table-border-color: transparent;
    --el-table-header-text-color: var(--text-tertiary);
    --el-table-tr-bg-color: var(--bg-tertiary);
    --el-table-fixed-left-column:inset 10px 0 10px -10px #000;
    --el-table-fixed-right-column:inset -10px 0 10px -10px #000;
    --el-table-border: none;
    border-radius: 8px;

    thead {
      th {
        font-weight: 500;
      }
      .cell {
        line-height: 28px;
        overflow-wrap: unset;
        overflow: initial;
      }
      .el-table__cell {
        padding: 8px 0px;
        border: none;
      }
    }

    .el-table__cell {
      padding: 16px 0px;
      // border: none;
    }

    .cell {
      line-height: 20px;
      padding: 0 8px;
    }

    .el-table__cell:first-of-type {
      .cell {
        padding-left: 16px;
      }
    }
    .el-table__cell:last-of-type {
      .cell {
        padding-right: 16px;
      }
    }
  }

  .el-table__header-wrapper tr td.el-table-fixed-column--left.is-last-column::before, .el-table__header-wrapper tr td.el-table-fixed-column--left.is-first-column::before, .el-table__header-wrapper tr td.el-table-fixed-column--right.is-last-column::before, .el-table__header-wrapper tr td.el-table-fixed-column--right.is-first-column::before, .el-table__header-wrapper tr th.el-table-fixed-column--left.is-last-column::before, .el-table__header-wrapper tr th.el-table-fixed-column--left.is-first-column::before, .el-table__header-wrapper tr th.el-table-fixed-column--right.is-last-column::before, .el-table__header-wrapper tr th.el-table-fixed-column--right.is-first-column::before, .el-table__body-wrapper tr td.el-table-fixed-column--left.is-last-column::before, .el-table__body-wrapper tr td.el-table-fixed-column--left.is-first-column::before, .el-table__body-wrapper tr td.el-table-fixed-column--right.is-last-column::before, .el-table__body-wrapper tr td.el-table-fixed-column--right.is-first-column::before, .el-table__body-wrapper tr th.el-table-fixed-column--left.is-last-column::before, .el-table__body-wrapper tr th.el-table-fixed-column--left.is-first-column::before, .el-table__body-wrapper tr th.el-table-fixed-column--right.is-last-column::before, .el-table__body-wrapper tr th.el-table-fixed-column--right.is-first-column::before, .el-table__footer-wrapper tr td.el-table-fixed-column--left.is-last-column::before, .el-table__footer-wrapper tr td.el-table-fixed-column--left.is-first-column::before, .el-table__footer-wrapper tr td.el-table-fixed-column--right.is-last-column::before, .el-table__footer-wrapper tr td.el-table-fixed-column--right.is-first-column::before, .el-table__footer-wrapper tr th.el-table-fixed-column--left.is-last-column::before, .el-table__footer-wrapper tr th.el-table-fixed-column--left.is-first-column::before, .el-table__footer-wrapper tr th.el-table-fixed-column--right.is-last-column::before, .el-table__footer-wrapper tr th.el-table-fixed-column--right.is-first-column::before{
    bottom: 0;
  }
}


.mc-h5 {
  .el-table {
    font-size: var(--font-size-text-xs);
    .el-table__cell{
      padding: 12px 0px;
    }

    .cell {
      line-height: 18px;
      padding: 0 16px;
    }
  }
}