.mc-ui-override {
  .el-tag {
    // 自定义样式可以在这里添加
    font-size: var(--font-size-text-sm);
    --el-tag-border-radius: 8px;

    .iconfont{
      font-size: 16px;
      display: inline-block;
    }
    .prefixIcon{
      margin-right: 4px;
    }
    .suffixIcon{
      margin-left: 4px;
    }

    &.is-loading {
      .prefixIcon,
      .suffixIcon {
        animation: rotate 3s linear infinite;
        transform-origin: center center;
        display: inline-block;
      }
    }

    &.el-tag--primary {
      --el-tag-bg-color: color-mix(
        in srgb,
        var(--text-warning-primary) 10%,
        transparent
      );
      --el-tag-border-color: color-mix(
        in srgb,
        var(--text-warning-primary) 20%,
        transparent
      );
      --el-tag-text-color: var(--text-warning-primary);
      --el-tag-hover-color: var(--text-warning-primary);
    }
    &.el-tag--success {
      --el-tag-bg-color: color-mix(
        in srgb,
        var(--text-success-primary) 10%,
        transparent
      );
      --el-tag-border-color: color-mix(
        in srgb,
        var(--text-success-primary) 20%,
        transparent
      );
      --el-tag-text-color: var(--text-success-primary);
    }
    &.el-tag--danger {
      --el-tag-bg-color: color-mix(
        in srgb,
        var(--text-error-primary) 10%,
        transparent
      );
      --el-tag-border-color: color-mix(
        in srgb,
        var(--text-error-primary) 20%,
        transparent
      );
      --el-tag-text-color: var(--text-error-primary);
    }
    &.el-tag--info {
      --el-tag-bg-color: color-mix(
        in srgb,
        var(--text-primary) 10%,
        transparent
      );
      --el-tag-border-color: color-mix(
        in srgb,
        var(--text-primary) 20%,
        transparent
      );
      --el-tag-text-color: var(--text-primary);
    }
    &.el-tag--dark {
        &.el-tag--primary {
        --el-tag-bg-color: color-mix(
        in srgb,
        var(--text-warning-primary) 10%,
        transparent
      );;
        --el-tag-border-color: transparent;
      }
      &.el-tag--warning {
        --el-tag-bg-color: color-mix(
          in srgb,
          var(--text-warning-primary) 10%,
          transparent
        );
        --el-tag-border-color: transparent;
      }
      &.el-tag--success {
        --el-tag-bg-color: color-mix(
          in srgb,
          var(--text-success-primary) 10%,
          transparent
        );
        --el-tag-border-color: transparent;
      }
      &.el-tag--danger {
        --el-tag-bg-color: color-mix(
          in srgb,
          var(--text-error-primary) 10%,
          transparent
        );
        --el-tag-border-color: transparent;
      }
      &.el-tag--info {
        --el-tag-bg-color: var(--bg-tertiary-hover);
        --el-tag-border-color: transparent;
      }
    }
  }

  .el-tag--large{
    padding: 4px 10px;
    height: 28px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}